@page
@model ProjectAJD.Models.Client
@{
}
<br>
<h2> List of Clients</h2>
<a class='btn btn-primary btn-sm' href='~/Clients/Create'>New Clients</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model.clientList)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.age</td>
                <td>@item.gender</td>
                <td>
                    <a class='btn btn-primary btn-sm' href='/Clients/Edit?id=@item.id'>Edit</a>
                    @*<a class='btn btn-danger btn-sm' href='/Clients/Delete?id=@item.id'>Delete</a>*@
                    <input type="button" value="Delete" class="btn btn-danger" onclick="deleteConfirm('@item.id')" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Are you sure you want to delete?
                            </span>
                            <strong id="deletedValueName">
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                    <a class='btn btn-danger btn-sm' href='/Clients/Delete?id='>Delete</a>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete"
                </div>
            </div>
        </div>
    </div>
</div>

                            @section Scripts{
    <script type="text/javascript">
        //this is only display bootstrap modal pop up dialog
        var deleteConfirm = function (val) {
            $('#deletedValueName').text(val);
            $('#delete-conformation').modal('show');
        }
        //call this function after click on confirm delete button
        var deleteData = function () {
        $('#divLoading').show();
        var id = $('#id').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("YourActionName","YourControllerName")',
            data:{id: id},
            success: function (result) {
               $("#delete-conformation").modal('hide');
            },
            error: function () {
                $("#delete-conformation").modal('hide');
            }
        });
       }
    </script>
}